* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f3f5f5;
  color: #2e3333;
}
/*HEADER RULES*/
header {
  background: #fff;
}
.TopBar {
  height: 60px;
  border-bottom: 1px solid #e9ebeb;
}
.TopBar-center {
  height: 100%;
  align-items: center;
}
.logo {
  height: 70%;
}
.RestaurantInfos-center {
  padding: 30px 0;
  align-items: flex-start;
}
.RestaurantInfos-center,
.TopBar-center {
  margin: 0 auto;
  width: 96vw;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
}
.RestaurantInfos-texts {
  flex: 1 1;
  margin-right: 30px;
}
.RestaurantInfos-cover {
  width: 350px;
  border-radius: 5px;
  overflow: hidden;
  background: #f3f5f5;
}
/*CONTENT RULES*/
.Content-center {
  margin: 0 auto;
  width: 96vw;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.Category {
  flex: 1 1;
  margin-right: 30px;
  margin-bottom: -25px;
}
.Meals-items {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.MealItem {
  width: 50%;
  min-width: 300px;
  padding: 0 10px 25px;
}
.MealItem-card {
  border-radius: 5px;
  height: 100%;
  background: #fff;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.MealItem-texts {
  flex: 1 1;
  margin-right: 15px;
}
.MealItem-texts h3 {
  font-weight: 400;
  margin: 0 0 0.5rem;
}
.MealItem-texts p {
  font-size: 0.9rem;
  color: #808484;
  line-height: 1.3rem;
  height: 2.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 1rem;
}
.MealItem-infos {
  display: flex;
  align-items: center;
}
.MealItem-price {
  color: #808484;
  font-size: 1.1rem;
}
.MealItem-popular {
  color: #ff8000;
  font-size: 0.8rem;
  margin-left: 1rem;
  font-weight: 800;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.MealItem-popular svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.MealItem-picture {
  height: 130px;
  width: 130px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.MealItem-picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/*SHOPPING CART RULES*/
button {
  display: block;
  margin: 10px;
  border-radius: 5px;
  padding: 1rem;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
}
.btn-validate {
  background: #00cdbd;
  color: #fff;
}
.btn-disabled {
  cursor: not-allowed;
  background: #bac3c3;
  color: #8b9a9b;
}
.ShoppingCart-empty {
  color: #868a8a;
  text-align: center;
  padding: 3rem 0;
}
.ShoppingCart {
  width: 350px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.ShoppingCart-container {
  box-shadow: 0 22px 24px 0 rgba(46, 51, 51, 0.07);
  background: #fff;
  border-radius: 4px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 30px 0;
}
.ShoppingCart-line {
  display: flex;
  align-items: flex-start;
  padding: 1rem 0;
}
.ShoppingCart-counter {
  display: flex;
  align-items: center;
  margin-right: 10px;
  color: #808484;
}
.ShoppingCart-counter span {
  min-width: 1rem;
  text-align: center;
}
.ShoppingCart-counter span:not(:nth-child(2)) {
  border: 1px solid #24cdbd;
  color: #24cdbd;
  border-radius: 50%;
}
.ShoppingCart-counter svg {
  margin: 2px 2px;
  padding: 1px;
  width: 20px;
  height: 13px;
  cursor: pointer;
}
.ShoppingCart-items {
  border-bottom: 1px solid #d1d7d7;
  margin: 0 10px;
  max-height: calc(100vh - 300px);
  overflow: auto;
}
.ShoppingCart-items-line {
  display: flex;
  align-items: flex-start;
  padding: 1rem 0;
}
.ShoppingCart-item-name {
  flex: 1 1;
}
.ShoppingCart-amount {
  width: 85px;
  text-align: right;
}
.ShoppingCart-result {
  margin: 0 10px;
  padding: 10px 0;
  border-bottom: 1px solid #d1d7d7;
}
.ShoppingCart-result-line {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}
.ShoppingCart-result-name {
  flex: 1 1;
}
.ShoppingCart-amount {
  width: 85px;
  text-align: right;
}
.ShoppingCart-total {
  display: flex;
  align-items: flex-start;
  padding: 1.3rem 0;
  margin: 0 10px;
  font-weight: 600;
  font-size: 1.2rem;
}
/* FOOTER RULES*/
.Footer {
  background-color: #dddddd;
  padding: 15px 0;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Footer div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
}
.Footer p {
  font-size: calc(16px * var(--scale));
}
.Footer div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}
.Footer a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  margin: 0 5px;
}
Footer > p > img:first-child,
Footer > p > img:nth-child(3) {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  animation: App-logo-spin infinite 20s linear;
}
Footer > p > a > img {
  width: 120px;
  vertical-align: middle;
}
Footer :nth-child(2) img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}
.Footer div a:link {
  color: black;
}
.Footer div a:visited {
  color: black;
}
.Footer i {
  font-family: "Font Awesome 5 Brands" !important;
  font-size: 24px;
}
.Footer .fa-linkedin {
  color: #2566c2;
}
.Footer .fa-github {
  color: #242a2e;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Medium devices (tablets, 768px and up) */
@media (max-width: 992px) {
  .Category {
    margin-right: 20px;
  }
  .MealItem {
    width: 100%;
  }
  .MealItem-texts {
    margin-right: 0px;
  }
}
@media (max-width: 768px) {
  .Content {
    width: 80vw;
    margin: 0 20px;
  }
  .RestaurantInfos-center,
  .TopBar-center {
    flex-direction: column-reverse;
    width: 80vw;
  }
  .RestaurantInfos-texts {
    margin-right: 0px;
  }
  .RestaurantInfos-cover {
    width: 100%;
    margin: 0px;
  }
  .ShoppingCart {
    padding-right: 20px;
  }
}
